.contactUs_banner{
    .hb_left{
        padding-left: 9.8vw;
        align-items: center;
    }
}
.contactFormContainer{
    max-width: 1440px;
    margin: auto;
    & > div{
        width: fit-content;
        .cFc_right{
            max-width: 471px;
            @media (min-width:1024px) and (max-width:1124px) {
                margin-right: 10px;
            }
            .details_wrapper {
                .elementor-element {
                    &.elementor-widget-heading:first-child{
                        margin-bottom: 12px !important;
                    }
                    &.elementor-widget-heading:nth-child(2){
                        margin-bottom: 2px !important;
                    }
                  
                }
            }
        }
      
       .cFc_left{
        max-width: 570px;
        @media (min-width:768px) and (max-width:1440px) {
        margin-right: 8vw;
        }
        @media (min-width:1440px){
          margin-right: 110px;
        }
        .cForm{
            .nf-cell{
                padding: 0 10px !important;
            }
            h3{
                display: none;
            }
            .nf-field-container {
                margin-bottom: 8px !important;
                .nf-field-label{
                    margin-bottom: 4px !important;
                    label{
                        font-family: 'Lato';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                        color: #656565;
                    }
                }
                input{
                    height: 37px !important;
                    border: 1px solid #656565;
                    border-radius: 5px; 
                }
                textarea{
                    height: 79px !important;
                    border: 1px solid #656565;
                    border-radius: 5px;   
                    @media (min-width:768px) and (max-width:1024px) {
                        min-width: 365px;
                     }
                     @media (min-width:1025px) and (max-width:1136px) {
                        min-width: 495px;
                     }
                   @media (min-width:1137px) {
                      min-width: 550px;
                   }
                //    @media (max-width:767px) {
                //      min-width: 360px;
                //   }

                }
                input[type="submit"]{
                    border-width: 0px !important;
                    padding: 0 !important;
                    width: 95px;
                    height: 37px !important;
                    background: #FBB434 !important;
                    border-radius: 5px !important;
                    color: #000 !important;
                    font-size: 14px;
                    font-weight: 700 !important;
                    margin-top: 20px;
                }
            }
    
    
        }
       }
    }


}
.cu_map{
    max-width: 1160px;
    margin: auto;
}
